@import "../../global.scss";

.card-container-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 1180px; /* Adjust this to fit three cards */
    padding: 0 20px;

    > button {
        background: transparent;
        border: none;
        font-size: 2em;
        color: #333; /* Adjust color as needed */
        flex-shrink: 0 ;
        padding: 0 10px;
      }
    
      > button:first-of-type:before {
        content: '❮'; /* Left arrow */
      }
      
      > button:last-of-type:before {
        content: '❯'; /* Right arrow */
      }
  }
  
  .card-container-inner {
    display: flex;
    flex-direction: row;
    // white-space: nowrap;
    scroll-behavior: smooth;
    padding: 20px 0;
    overflow: hidden;
  }
  
  .card {
    flex: 0 0 auto;
    width: 320px; 
    margin-right: 20px; 
  }