// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.127);

//   h1 {
//     text-align: center;
//     margin-bottom: 20px;
//   }
// }

.card-container-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 1165px; /* Adjust this to fit three cards */

    > button {
        background: transparent;
        border: none;
        font-size: 2em;
        color: #333; /* Adjust color as needed */
      }
    
      > button:first-of-type:before {
        content: '❮'; /* Left arrow */
      }
      
      > button:last-of-type:before {
        content: '❯'; /* Right arrow */
      }
  }
  
  .card-container-inner {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 20px 0;
  }
  
  .card {
    flex: 0 0 auto;
    width: 320px; /* Adjust this to the actual width of your cards */
    margin-right: 20px; /* Adjust this to the actual margin of your cards */
  }